.counter {
  position: absolute;
  left: 25%;
  top: 50%;
  z-index: 100;
  background-color: red;
  height: 90px;
  width: 90px;
  border-radius: 100px;
  transform: translate(-30px, -30px);
  text-align: center;
}

.counter-text {
  transform: translate(0px, 20px);
}

.left-to-right {
  direction: rtl;
}

.slider {
  position: absolute;
  right: 50%;
  top: 5%;
  z-index: 100;
  transform: translate(-50px, -50px);
  text-align: center;
}

.switcher {
  position: absolute;
  left: 2%;
  top: 5%;
  z-index: 100;
}
