.counter {
  position: absolute;
  left: 25%;
  top: 50%;
  z-index: 100;
  background-color: red;
  height: 90px;
  width: 90px;
  border-radius: 100px;
  transform: translate(-30px, -30px);
  text-align: center;
}

.counter-text {
  transform: translate(0px, 20px);
}

.left-to-right {
  direction: rtl;
}

.flex-container{
  clear: both;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
}

.flex-container > div {
  // width: 100%;
  margin: 10px;
  position: absolute;
  z-index: 100;
}

.slider {
  // top: 10%;
  right: 2%;
  // transform: translate(-50px, -50px);
  text-align: center;
}

.switcher {
  right: 2%;
  bottom: 5%;
  z-index: 100;
}

.searchbox{
  z-index: 99;
  // text-align: right;
}

.react-geocoder-results{
  background-color: rgba(236, 236, 236, 0.747);
}

.react-geocoder-item:hover{
  background-color: rgba(69, 152, 128, 0.747);
}