.counter {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  background-color: red;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  transform: translate(-35px, -35px);
  text-align: center;
}

.counter-text {
  transform: translate(0px, 25px);
}

.left-to-right {
  direction: rtl;
}

.slider {
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: 100;
  transform: translate(-50px, -50px);
  text-align: center;
}

.switcher {
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 100;
}
